body{

margin:0;
background:#000;
color:white;
font-family:Arial;
text-align:center;

}

header{

padding:40px;
background:#111;
display:flex;
flex-direction:column;
align-items:center;

}

h1{

color:cyan;
font-size:48px;
text-shadow:0 0 20px cyan;

}

.stats{

margin:10px;

}

#search{

margin-top:10px;
padding:10px;
width:300px;
border:none;
border-radius:6px;
text-align:center;

}

section{

padding:40px;

}

.live-stream{

display:flex;
justify-content:center;

}

.live-stream iframe{

width:900px;
max-width:90%;
height:450px;
border:none;
border-radius:12px;

}

.grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:25px;
max-width:1200px;
margin:auto;
padding:20px;

}

.video{

background:#181818;
border-radius:10px;
cursor:pointer;
overflow:hidden;
transition:.3s;

}

.video:hover{

transform:scale(1.05);

}

.video img{

width:100%;

}

.video p{

padding:10px;

}

.modal{

display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.9);
align-items:center;
justify-content:center;

}

.modal-content{

max-width:900px;
width:90%;

}

.modal iframe{

width:100%;
height:500px;

}

#close{

color:white;
font-size:30px;
cursor:pointer;
float:right;

}
