body{

margin:0;
background:black;
color:white;
font-family:Arial;

}

#three-bg{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;

}

header{

text-align:center;
padding:40px;

}

h1{

font-size:48px;
color:#00ffff;
text-shadow:0 0 20px cyan;

}

.stats{

font-size:20px;
margin:10px;

}

#search{

padding:10px;
width:260px;
border:none;
border-radius:6px;

}

.grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:25px;
padding:40px;

}

.video{

background:#111;
border-radius:12px;
cursor:pointer;
overflow:hidden;
box-shadow:0 0 15px cyan;
transition:.3s;

}

.video:hover{

transform:scale(1.05);

}

.video img{

width:100%;

}

.video p{

padding:10px;

}

.live iframe{

width:80%;
height:420px;
border:none;
border-radius:10px;

}

#minecraft3d,
#roblox3d,
#ark3d{

width:100%;
height:400px;

}

.modal{

display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
align-items:center;
justify-content:center;

}

.modal iframe{

width:900px;
height:500px;

}

#closePlayer{

color:white;
font-size:28px;
cursor:pointer;

}

footer{

text-align:center;
padding:20px;

}
